In [3]:
import tabix
import pandas as pd
import gzip

In [13]:
ld_data="/Users/shaotingting/Library/CloudStorage/OneDrive-Personal/tingtingshao/masterThesis/data/GWAS_catalog/EUR_geno.txt.gz"

In [14]:
ld=tabix.open(ld_data)

In [5]:
snps="/Volumes/USB/mater_thesis_data/GWAS_catalog/Bellenguez_1e-1.bed"

In [6]:
snps=pd.read_csv(snps,header=None,sep='\t')

In [8]:
snps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2408721 entries, 0 to 2408720
Data columns (total 5 columns):
 #   Column  Dtype
---  ------  -----
 0   0       object
 1   1       int64
 2   2       int64
 3   3       object
 4   4       float64
dtypes: float64(1), int64(2), object(2)
memory usage: 91.9+ MB

In [11]:
snps.head()

       0          1          2             3        4
0   chr2  132475802  132475803   rs772614718  0.09999
1  chr14   87895738   87895739    rs17123888  0.09999
2  chr20   51428674   51428675     rs7265662  0.09999
3   chr6   57769742   57769743  rs1168389036  0.09999
4   chr4   30280394   30280395   rs563326477  0.09999

In [ ]:
f=gzip.open(ld_data,'rb')
ld_content=f.read()

In [7]:
for index, row in snps.iterrows():
    if ld_data.query(row[0])

SyntaxError: incomplete input (3546375066.py, line 1)

---

In [4]:
path="/Volumes/USB/mater_thesis_data/sun_processedData"

In [10]:
file=path+"/synapseID.csv"

In [11]:
snpID=pd.read_csv(file,header=None,sep=',')

In [12]:
snpID.head

<bound method NDFrame.head of                                0            1
0     D19-12513.fragments.tsv.gz  syn52403989
1    D19-12513.possorted_bam.bam  syn52404044
2     D19-12514.fragments.tsv.gz  syn52406899
3    D19-12514.possorted_bam.bam  syn52406908
4     D19-12515.fragments.tsv.gz  syn52401162
..                           ...          ...
178   D19-8611.possorted_bam.bam  syn52403007
179    D19-8612.fragments.tsv.gz  syn52403128
180   D19-8612.possorted_bam.bam  syn52403201
181    D19-8613.fragments.tsv.gz  syn52401146
182   D19-8613.possorted_bam.bam  syn52401171

[183 rows x 2 columns]>

AttributeError: 'Series' object has no attribute 'count_values'